<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>qxfw</string>
	<string>yjzh</string>
	<string>yjxx</string>
	<string>yach</string>
	<string>zqxx</string>
	<string>tztg</string>
	<string>szyw</string>
	<string>qxzx</string>
</array>
</plist>
