<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>duanqiyubao</string>
	<string>zhongqiyubao</string>
	<string>qihouyuce</string>
	<string>qihoupingjia</string>
	<string>shenghuoqixiang</string>
	<string>nongyeqixiang</string>
	<string>shenglinhuoxian</string>
	<string>dizhizaihai</string>
	<string>jiaotongqixiang</string>
	<string>tianqishikuang</string>
	<string>weixingyuntu</string>
	<string>tianqileida</string>
</array>
</plist>
